/diff.patch
move-to-stumpwm.org
result
stow/emacs/.emacs.d/Emacs.org
stow/emacs/.emacs.d/custom.el
stow/emacs/.emacs.d/recentf
stow/emacs/.emacs.d/var/
stow/stumpwm/.stumpwm.d/log
stow/stumpwm/.stumpwm.d/sources.org
stow/stumpwm/.stumpwm.d/stumpwm.log
stow/stumpwm/.stumpwm.d/stumpwm.log.1
/nix/root/configuraton.nix
/stow/emacs/.emacs.d/init.org
/stow/emacs/.emacs.d/eln-cache/
/stow/emacs/.emacs.d/elpa/
/stow/emacs/.emacs.d/history
/stow/emacs/.emacs.d/transient/
/stow/emacs/.emacs.d/straight/
/stow/emacs/.emacs.d/auto-save-list/
/stow/emacs/.emacs.d/eshell/
*.qcow2
